doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Dashboard
    body 
        .courcesWrapper
            .topBar
                .leftContent
                    button Menu
                    span #{pageTitle}
                .rightContent
                    span PlusIcon
                    img(src="https://via.placeholder.com/50x50")
            .dashboard