<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/error.css")
        link(rel="stylesheet", href="/css/scrollbar.css")

        title Page not found
    body
        .face
            .band
                .red
                .white
                .blue
            .eyes
            .dimples
            .mouth
        h1 Oops! Something went wrong!
        a(href="/")
            .btn Return to Home
