extends layouts/main-layout.pug

block content
    .streamContainer
        .bodyContainer
            .mainBodyContainer
                span.peopleCategory Owners
                .ownersHolder

                span.peopleCategory Students
                .studentsHolder
block scripts
    script(src="/js/people.js")