:root {
    --whiteText: #fff;
    --lightGray: #f7f7f7;
    --bgByOwner: #e74c3c1a;
    --tabFontColor: #5F6368;
    --buttonBlack: #00000096;
    --totalMarksColor: #fbc531;
    --cardBorderColor: #dadce0;
    --backgroundBlue: #09ff0054;
    --marksAwardedColor: #4cd137;
    --tabFontHoverColor: #e8f0fe;
    --svgHoverBoxShadow: #5f63680a;
    --tabBottomBorderColor: #1967d2;
    --assignmentTaskStatusColor: #4cd137;
    --tabInactiveFontHoverColor: #2021240a;
    --borderTopLine: 0.0625rem solid #e0e0e0;
}

html, body {
    height: 100%;
    margin: 0;
    font-weight: 400;
}

@media (max-width: 40em) {
    body {
        font-size: 0.875rem;
    }
}

.flexShrink {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.gridPlaceCenter {
    display: grid;
    place-items: center;
}

.courcesWrapper {
    display: flex;
    flex-direction: column;
}

.courcesWrapper .topBar {
    min-height: 3rem;
    max-height: 5rem;
    padding: 0 0.5rem;
    /* padding-bottom: 0; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: var(--borderTopLine);
    background-color: white;
    z-index: 2;
}

.courcesWrapper .topNavigator {
    display: none;
}

.leftContent {
    display: flex;
    align-items: center;
}

.leftContent .svgContainer {
    height: 2rem;
    width: 3rem;
    color: var(--buttonBlack);
    padding: 0.5rem 0.8rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leftContent .svgContainer:hover { 
    border-radius: 50%;
    background-color: var(--svgHoverBoxShadow);
}


.leftContent span {
    font-size: 1rem;
    padding-left: 1rem;
    max-width: 120px;
}


.rightContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightContent .iconContainer {
    margin: auto 1rem;
    display: flex;
    align-items: center;
}

.topNavigator .rightContent .iconContainer {
    margin: auto;
}

.rightContent .iconContainer .svgContainer {
    height: 3.5rem;
    width: 3.5rem;
    color: var(--buttonBlack);
    padding: 0.5rem 0.8rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rightContent .iconContainer .svgContainer svg {
    pointer-events: none;
}

.rightContent .iconContainer .svgContainer:hover {
    border-radius: 50%;
    background-color: var(--svgHoverBoxShadow);
}

.rightContent .profileImageHolder {
    display: block;
    max-height: 35px;
    max-width: 35px;
}

.rightContent .profileImageHolder img{
    width: 100%;
    border-radius: 50%;
}

.ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Media query for small devices with width less than 480px */
@media only screen and (max-width: 480px) {
    .courcesWrapper .topNavigator {
        display: flex;
        margin: 0.5rem;
        align-items: center;
        justify-content: space-between;
    }
    .courcesWrapper .topBar .leftContent,
    .courcesWrapper .topBar .rightContent {
        display: none;
    }

}

.middleContent {
    -webkit-justify-content: center;
    justify-content: center;
    /* padding-right: 1rem; */
    text-align: center;
    width: 100%;
    line-height: 1.7em;
}

@media not all and (max-width: 65.125em) {
    .middleContent {
        margin: 0 1rem;
        width: auto;
        flex: 1;
        display: flex;
    }
    .profileImageHolder {
        display: none;
    }
}

.middleTabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    /* max-width: 100%; */
    /* min-height: 100%; */
    white-space: nowrap;
    /* align-content: space-between; */
    /* align-items: flex-end; */
}

.tabsDiv {
    color: var(--tabFontColor);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 100%;
    padding: 0.9rem 1.5rem 0.9rem 1.5rem;
}

@media (max-width: 40em) {
    .tabsDiv {
        padding: 0.7rem 0.5rem;
    }
}

.tabsDiv {
    color: var(--tabFontColor);
    background-clip: padding-box;
    border-bottom: 2px solid #FFF;
}

.tabsDiv:hover {
    background-color: var(--tabInactiveFontHoverColor);
}

.selectedTabsDiv {
    color: var(--tabBottomBorderColor);
    border-bottom: 2px solid var(--tabBottomBorderColor);
}

.selectedTabsDiv:hover {
    background-color: var(--tabFontHoverColor);
}


.tabsDivAnchor {
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.tabsDivAnchor :hover {
    color: #202124;
}

.streamContainer {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: -webkit-calc(100% - 2*1.5rem);
    width: calc(100% - 2*1.5rem);
    max-width: 62.5rem;
}

@media (max-width: 30em) {
    .streamContainer {
        width: auto;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 0 0.5rem;
    }
}

.noIdeaDiv {
    background-color: #1967d2;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    overflow: hidden;
}

@media (max-width: 30em){
    .noIdeaDiv {
        margin-top: 0.5rem;
    }
}

.secondNoIdeaDiv {
    height: 15rem;
    position: relative;
    width: 100%;
}

@media (max-width: 40em) {
    .secondNoIdeaDiv {
        height: 11.25rem;
    }
}

.backgroundImageContainerDiv {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url("https://gstatic.com/classroom/themes/img_learnlanguage.jpg");
}

.classInformationDiv {
    display: block;
    padding: 1.5rem;
    position: relative;
}

@media (max-width: 30em) {
    .classInformationDiv {
        padding: 0.5rem;
    }
}

.standardTextEllipses {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.className {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    color: var(--whiteText);
}

@media (max-width: 40em) {
    .className h1 {
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 2.25rem;
    }
}

.classOwnerDisplay {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--whiteText);
}

@media (max-width: 40em) {
    .classOwnerDisplay {
        letter-spacing: .00625em;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
    }
}


.bodyContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: 1.5rem;
}

.classDetailsContainer {
    height: fit-content;
    width: 12.125rem;
    padding: 1rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.classDetailsContainer .upcoming {
    text-align: left;
    font-size: 0.875rem;
    font-weight: 500;
}

.classDetailsContainer .smallTask {
    font-size: 0.75rem;
}

@media (max-width: 30em) {
    .classDetailsContainer {
        display: none;
    }
}

.mainBodyContainer {
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

@media (max-width: 30em) {
    .bodyContainer {
        margin-top: 0.5rem;
    }
}

.announcementMaker {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.announcementMakerProfilePhotoContainer {
    margin-left: 0.7rem;
    height: 2.5rem;
    width: 2.5rem;
}

.announcementMakerProfilePhotoContainer img {
    height: 100%;
    border-radius: 50%;
}

#announcementText {
    flex: 1;
    height: 2.6rem;
    resize: none;
    overflow-y: auto;
    margin: 0 0.5rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--cardBorderColor);
    border-radius: 0.5rem;
}

#sendMessageButton {
    margin: 0 0.5rem;
    background-color: transparent;
    border: 0;
    color: var(--tabBottomBorderColor);
    outline: none;
    height: 2.4rem;
    width: 2.4rem;
}

.tipsBlockContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.tipsBlock {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 0.5rem;
}

.standardText {
    color: #1967d2;
    fill: #1967d2;
    padding-bottom: 0.5rem;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0;
}

.whiteSpaceBreakSpace {
    white-space: break-spaces;
}

.tipsBlockSubBody .svgContainer {
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 2rem;
    margin-right: 0.6rem;
}

.tipsBlockBody {
    display: flex;
}

.tipsBlockBody span {
    margin-top: 0.375rem;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 2.25rem;
}

.seeMoreMessages {
    display: grid;
    place-items: center;
    margin-top: 1.5rem;
}


#seeMoreMessagesButton, .goodAjaxButton {
    margin: 11px 4px;

    background-color: var(--tabFontHoverColor);
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: var(--tabBottomBorderColor);
    outline: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.goodAjaxButton {
    width: fit-content;
    margin: 11px 0;
    -webkit-appearance: none;
}

.messages {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 0.5rem;
}

.messageContainer {
    color: #444444;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 1rem 0 1rem;
    /* padding: 0.2rem 1rem; */
    border-bottom: 1px solid var(--cardBorderColor);
}

.profileContainer {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

.profileContainer img {
    height: 100%;
    border-radius: 50%;
}

.messageContainer .message {
    flex: 1;
}

.messageContainer .senderName {
    color: #44444499;
    display: flex;
}


/* Assignments */

.createTaskModalBody {
    display: flex;
    flex-direction: column;
}

.createTaskModalBody > * {
    outline: none;
    -webkit-appearance: none;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    border: var(--borderTopLine);
    border-radius: 0.5rem;
}

.assignmentContainer {
    margin-top: 0.4rem;
    padding: 1rem;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 0.5rem;
}

.selectedAssignment {
    border: 1px solid rgb(0 168 255 / 40%);
    background-color: #00a8ff08;
}


.assignmentTitle {
    display: flex;
    cursor: pointer;
}

.assignmentTitlePara {
    flex: 1;
    margin: 0.5rem 0;
    font-size: 1.4rem;
}

.assignmentTotalMarks {
    margin: auto 0;
    color: var(--totalMarksColor);
}

.assignmentBody {
    display: none;
}
.assignmentBodyHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.assignmentDescription {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.assignmentLink {
    margin: 0.5rem 0 0.7rem 0;
    font-size: 1.2rem;
}

.assignmentLink :hover {
    text-decoration: none;
}

.previousAssignments {
    margin-top: 1rem;
}

.assignmentStatus {
    font-size: 1.1rem;
    color: var(--assignmentTaskStatusColor);
}

.inputMarks {
    margin: 0 1rem 0 0;
    padding: 0.3rem;
    border: 1px solid #44444429;
    outline: none;
    border-radius: 0.25rem;
}

.returnedStudentName {
    margin: 0;
    flex: 1;
}

.rewardedMark {
    margin: auto;
}

.assignmentHeading {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
}