mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's Profile Picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="Whatcha got going on?")
            .buttonsContainer(style="display: flex")
                button#submitPostButton(disabled="" ) Post
                button#uploadImage
                    i(class="fal fa-image", style="font-size: 1.5rem; pointer-events: none;")
                .postImageContainer
                button#cancelImage
                    i(class="fal fa-trash", style="font-size: 1.5rem; pointer-events: none; color: red;")

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') 
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="User's Profile Picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="Whatcha got going on?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply